
    <img src="/assets/images/network-virtualization-cloud_1000x625.jpg" alt="logo" id="logo"/>
    <h2>  SDN/NFV Tool Guide</h2>
    <%if(user===undefined||user===null){%>
      <p id="signlink">Not signed in.</p>
      <%}else{%>
      <p id="signlink">Welcome <%= user.firstName%>!</p>
      <%}%>
