<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SDN/NFV Tool Book</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body >
  <div class="firstdiv">
    <div class="header">
      <header>
      <% include partials/header.ejs %>
      </header>
    </div>

    <div class="nav">
      <nav>
        <% include partials/user-navigation.ejs %>
      </nav>
    </div>

    <div class="aside">
      <aside>
      <% include partials/site-navigation.ejs %>
      </aside>
    </div>



    <div class="gen1">
       <p> We are an enthusiastic group of 1 developers. 🤦. This website was thought of as an idea for our
       Network based application development assignment.</p>

      <p>The purpose of this application is to showcase what we learnt through out the semester. (Which is a hell lot!).
      We have made sure that by the end of creating this website, we will be well versed full stack developers.
    </p>
  </div>

    <div class="footer">
      <footer>
      <% include partials/footer.ejs %>
      </footer>
    </div>
  </div>


</body>

</html>
