<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body >

  <div class="firstdiv">
    <div class="header">
      <header>
      <% include partials/header.ejs %>
      </header>
    </div>

    <div class="nav">
      <nav>
        <% include partials/user-navigation.ejs %>
      </nav>
    </div>

    <div class="aside">
      <aside>
      <% include partials/site-navigation.ejs %>
      </aside>
    </div>


    <div class="gen1">
       <p>You can reach us at youwouldn'twantto@sdn.com. </p>
       <p>We are happy to help you regarding our products. Please feel free to contact us at contactus@sdntoolbook.com</p>


  </div>

    <div class="footer">
      <footer>
      <% include partials/footer.ejs %>
      </footer>
    </div>
  </div>


</body>

</html>
