<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SDN/NFV Tool Book</title>
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body >
  <div class="firstdiv">
    <div class="header">
      <header>

      <% include partials/header.ejs %>

      </header>
    </div>

    <div class="nav">
      <nav>
        <% include partials/user-navigation.ejs %>
      </nav>
    </div>

    <div class="aside">
      <aside>
      <% include partials/site-navigation.ejs %>
      </aside>
    </div>




  <section class="gen1">
     <p> Welcome to SDN/NFV Tool Book. This website contains information about all the tools that can be used in Software Defined Networking.
    This website is a one stop place to clarify all your doubts regarding the pros and cons of all virtual network tools.</p>

    <p>Check out our store section to find appropriate recommendations for your requirements.</p>
  </section>

  <div class="footer">
    <footer>
    <% include partials/footer.ejs %>
    </footer>
  </div>

  </div>




</body>

</html>
